@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFDF2B;
  --second: #2C2C2C;
}



header {
  background-color: var(--second);
  color: var(--primary);
  border-color: var(--primary);
}

.hero-img{
  background-image: url(/hero2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.list1-img{
  background-image: url(/list/list1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list2-img{
  background-image: url(/list/list2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  
  
 
}
