@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFDF2B;
  --second: #2C2C2C;
}



div.hdr {
  background-color: var(--second);
  color: var(--primary);

}


body {
  
  
 
}
